<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="Application" factoryName="Application" singleton="true">
    <option name="MAIN_CLASS_NAME" value="com.testcompany.Driver" />
    <module name="server" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$/_runtime" />
    <method v="2">
      <option name="MakeProject" enabled="true" />
    </method>
  </configuration>
</component>