*.pyc
__pycache__
Thumbs.db
.idea/artifacts/core.xml
.idea/copyright/profiles_settings.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources*
.idea/dbnavigator.xml
.idea/dictionaries/
.idea/hydra.xml
.idea/inspectionProfiles/
.idea/kotlinc.xml
.idea/scala_compiler.xml
.idea/sql*
.idea/statistic.xml
.idea/vcs.xml
.idea/workspace.xml
_runtime/*.jar
_runtime/driver.yaml
_runtime/h2_db/
_runtime/h2_db/*
_runtime/logs
out/
target
